__pycache__
*.so
build
.coverage_*
*.egg-info
*~
slurm*
logs
.vscode
local/
.gitmodules
wandb/
onelogger.log
onelogger.err
.venv
test_cases/
runs/
**/dist/
benchmark_cache_phi_tiny/
benchmark_cache_qwen3_1.7b_fp8/
checkpoints/
tensorboard_logs/
output/
scripts/*txt